body,h1,ul,li{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e6e6e6;
  font-family: sans-serif;
}

.sayfa{
  width: 950px;
  margin:50px auto;
}

#baslik{
  float: left;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

#menu{
  float: right;
  list-style: none;
  margin-top: 1em;
}

#menu li{
  float: left;

}

#menu li a{
  color: #022c61;
  text-decoration: none;
  margin: 5px;
  padding: 10px 20px;
}

#menu a:hover{
  background: rgb(82, 176, 253);
  border-radius: 15px;
}

.orta{
  margin-top: 15px;
  background: #023e8a;

}

.orta-sol{
  float: left;
  width: 450px;
}


.orta-sag{
  float: left;
  margin: 15px;
  width: 470px;
  color: #bbb;
}

.alt{
  background: #022c61;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.alt a{
   color: #fff;
}

.temizle{
  clear: both;
}
#mama{
   margin: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   width: 450px;
   height: 350px;
   margin-left: -1px;
}
#verdim{
  float: left;
  color: #bbb;
}
#ust a:hover{
  color: aqua;
}